.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-items {
    display: flex;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
    max-width: 100%;
    text-align: center;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .carousel-button {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    font-size: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border-radius: 80%;
    width: 80px; /* Increased width */
    height: 80px; /* Increased height */
    display: flex;
    justify-content: center; /* Centering arrow */
    align-items: center; /* Centering arrow */
    transition: background-color 0.3s ease;
  }

  .carousel-button::before {
    content: '\2039';
    font-size: 50px;
    margin-top: -8px;
  }

  .play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    font-size: 50px;
    border-radius: 80%;
    cursor: pointer;
    z-index: 20; /* Ensure it's on top */
    transition: background-color 0.3s ease;
  }
    
  .play-button::before {
    content: "\23F5";
    font-size: 30px;
    color: #fff;
  }

  .carousel-button.prev {
    content: '\2039';
    left: 25px;
  }

  .carousel-button.next {
    right: 25px;
    transform: translateY(-50%) scale(-1);
  }
  
  .carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }